body {
  background-color: #dcd8c1; /* Beige claro */
  color: #000000; /* Negro */
  font-family: "Cormorant Infant", serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ebe7cf; /* Beige claro */
  color: #b8860b; /* Dorado oscuro */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Encabezado fijo */
  top: 0; /* Fija el encabezado en la parte superior de la ventana */
  width: 100%; /* Ajusta el ancho al 100% */
  height: 70px; /* Ajusta la altura del encabezado según sea necesario */
  z-index: 1000; /* Asegura que el encabezado esté sobre otros elementos */
}
.logo {
  margin-left: 20px; /* Agrega margen a la izquierda del logo */
}
.logo img {
  width: 150px; /* Ajusta el ancho del logo */
  height: auto; /* Esto mantiene la proporción del logo */
}

nav {
  margin-left: auto; /* Mueve la barra de navegación al extremo derecho */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 5px;
  margin-right: 20px; /* Margen derecho agregado */
}

nav ul li a {
  color: #b8860b; /* Dorado oscuro */
  font-size: 18px; /* Ajustar el tamaño de la fuente */
  text-decoration: none;
  padding: 10px; /* Aumentado el espacio entre los enlaces */
  transition: color 0.3s ease; /* Agregar transición para un cambio suave de color */
}
nav ul li a:hover {
  color: #7d5a15; /* Dorado más oscuro al pasar el mouse */
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #7d5a15; /* Dorado más oscuro */
  transition: width 0.3s ease; /* Agregar transición para un cambio suave en el subrayado */
}

nav ul li a:hover::after {
  width: 100%; /* Ajustar la anchura del subrayado al 100% cuando se pasa el mouse */
}

.section {
  color: white;
  text-align: center;
  position: relative;
  padding-top: 100px; /* Ajusta el espacio superior para que el título no quede cubierto por el encabezado */
  scroll-margin-top: 70px; /* Ajusta la posición de desplazamiento para compensar la altura del encabezado */
}

.section h1 {
  color: #b8860b; /* Dorado oscuro */
  font-size: 48px; /* Tamaño de fuente */
}
.section p {
  color: #595959;
  margin-top: 60px; /* Ajusta la distancia con el borde superior */
  text-align: justify; /* Justificar el texto */
  line-height: 1.5; /* Puedes ajustar el valor según tus preferencias */
  font-size: 25px; /* Tamaño de fuente */
  font-family: "Cormorant Infant", serif !important;
}
#inicio {
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  padding: 50px; /* Espaciado interno */
  display: flex;
}
.container {
  display: flex;
}

.left-column {
  flex: 1;
  padding-right: 20px; /* Espacio entre las columnas */
  display: flex; /* Utilizar flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  margin-right: -180px; /* Superponer ligeramente sobre la columna derecha */
  margin-left: 30px; /* Mayor margen izquierdo */
  position: relative; /* Establecer posición relativa */
  z-index: 2; /* Asegurar que la columna izquierda esté sobre la columna derecha */
}
.left-column h1 {
  position: relative; /* Establecer posición relativa */
  z-index: 2; /* Asegurar que el texto esté sobre la imagen */
  font-size: 35px; /* Tamaño de fuente */
  border: 2px solid #b8860b; /* Borde dorado */
  padding: 20px; /* Espaciado interno */
  color: #7d5a15; /* Color de texto dorado oscuro */
  max-width: calc(
    100% - 40px
  ); /* Ancho máximo igual al ancho de su contenedor menos el doble del padding */
  box-sizing: border-box; /* Incluir el padding en el ancho total */
  width: auto; /* Ajustar el ancho automáticamente */
  text-align: left; /* Justificar el texto */
}

.right-column {
  flex: 2; /* La columna de la derecha es el doble de ancha que la izquierda */
  padding-left: 20px; /* Espacio entre las columnas */
}

.image-container {
  padding: 20px; /* Espacio alrededor de la imagen */
}

.image-container img {
  max-width: 100%; /* La imagen se ajustará al contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}
.conoceme-left-column {
  flex: 1; /* La columna de la izquierda ocupa el 50% del espacio disponible */
  padding-right: 10px; /* Espacio entre las columnas */
  display: flex; /* Utilizar flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  margin-right: 10px; /* Distancia del borde derecho */
  margin-left: 60px;
}
.conoceme-left-column .image-container img {
  max-height: 800px; /* Establece la altura máxima de la imagen */
}
.conoceme-right-column {
  flex: 1; /* Ambas columnas ocupan el mismo espacio */
  padding-left: 10px; /* Espacio entre las columnas */
  margin-right: 70px; /* Distancia del borde derecho */
  margin-left: 10px; /* la distancia del borde izquierdo */
}

/*.conoceme-right-column p {  /*ver si debo dejarlo cuando vea el diseño final y cambie cosas */
/*margin-top: 60px; /* Ajusta la distancia con el borde superior */
/* text-align: justify; /* Justificar el texto */
/* line-height: 1.5; /* Puedes ajustar el valor según tus preferencias */
/* font-size: 25px; /* Tamaño de fuente */
/* font-family: "Cormorant Infant", serif !important;
  }*/
.conoceme-right-column p::first-letter {
  /*primer letra de un párrafo sea más grande que el resto del texto*/
  font-size: 1.5em; /* Tamaño de la primera letra */
}
#servicios columnas {
  display: flex;
  flex-wrap: wrap; /* Permitir que las columnas se envuelvan a la siguiente línea */
}

.grid-container {
  display: flex;
  flex-basis: 100%; /* Ajustar el ancho al 100% */
  justify-content: space-between; /* Distribuir las columnas uniformemente */
  margin-top: 20px; /* Espacio entre el título y las columnas */
}

#conoceme,
#servicios,
#contacto {
  background-color: #f5f5dc; /* Cambiar al mismo color de fondo */
  color: #b8860b; /* Dorado oscuro */
  padding: 50px 0; /* Ajusta el relleno según sea necesario */
  border-bottom: 3px solid #b8860b; /* Agregar borde inferior */
}

.button {
  background-color: #f5f5dc; /* Beige claro */
  border: 1px solid #b8860b; /* Dorado oscuro */
  color: #b8860b; /* Dorado oscuro */
  /* Otros estilos... */
}

.divider {
  border-top: 1px solid #b8860b; /* Dorado oscuro */
  /* Otros estilos... */
}

footer {
  background-color: #ebe7cf; /* Beige claro */
  color: #b8860b;
  /* Otros estilos... */
}

footer a {
  color: #b8860b; /* Dorado oscuro */
  /* Otros estilos... */
}

/* Estilos para pantallas grandes */
.menu {
  display: flex;
}

.menu-btn {
  display: block; /* Ocultar el botón de menú en pantallas grandes */
  margin-right: 20px; /* Agregar margen derecho al botón del menú */
  color: #b8860b; /* Color dorado oscuro */
}
/*RESPONSIVE ACA!!!!!*/
/* Media queries para dispositivos pequeños */
@media only screen and (max-width: 768px) {
  .menu {
    position: absolute;
    top: 100%;
    right: 20px;
    background-color: rgba(210, 180, 140, 0.9);
    color: white; /* Color del texto blanco */
    display: none; /* Ocultar el menú por defecto */
    max-width: 300px; /* Ancho máximo del menú */
    border-top-left-radius: 10px; /* Esquina superior izquierda redondeada */
    border-bottom-left-radius: 10px; /* Esquina inferior izquierda redondeada */
  }

  .menu.active {
    display: flex; /* Mostrar el menú cuando está activo */
    flex-direction: column; /* Alinear elementos verticalmente */
  }

  .menu-btn {
    display: block;
    margin-right: 20px;
    color: #b8860b; /* Cambia el color de las tres rayitas al dorado más oscuro */
    border: 1px solid #b8860b; /* Borde dorado oscuro */
    border-radius: 3px; /* Añadir bordes redondeados al botón */
    transition: color 0.3s ease; /* Agregar transición para un cambio suave de color */
    padding: 5px; /* Aumentar el espacio alrededor del botón */
  }

  .menu-btn:hover {
    color: #5a3f0a; /* Cambia el color de las tres rayitas al dorado más oscuro al pasar el mouse */
  }

  .menu li {
    padding: 10px 0;
    border-bottom: 1px solid white;
  }

  .menu li:last-child {
    border-bottom: none;
  }

  .menu li a {
    color: gold; /* Dorado */
    text-decoration: none;
    padding: 10px 20px;
    display: block;

    transition: color 0.3s ease; /* Agregar transición para un cambio suave de color */
  }

  .menu li a:hover {
    color: #ffd700; /* Cambia el color del texto al dorado más claro al pasar el mouse */
  }
}
/* Media queries para dispositivos pequeños */
@media only screen and (min-width: 769px) {
  .menu-btn {
    display: none; /* Ocultar el botón de menú en pantallas grandes */
  }

  .menu {
    display: flex; /* Mostrar el menú por defecto en pantallas grandes */
  }

  /*INICIO MIN 769*/
}
